<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>TutyCarCare rest services</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.tutycarcare.api.rest.context.SpringDIConfig</param-value>
	</context-param>


	<servlet>
		<servlet-name>TutyCarCare REST Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				<!-- API resources package -->
				com.tutycarcare.api.gateway,
				<!-- Exception mappers -->
				com.toothcloud.commons.exception
			</param-value>
		</init-param>

		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>
			
				<!--  Jackson Feature -->
				org.glassfish.jersey.jackson.JacksonFeature,
				<!--  Filter dependencies -->
				org.glassfish.jersey.server.filter.RolesAllowedDynamicFeature,
				org.glassfish.jersey.media.multipart.MultiPartFeature,
				<!-- Swagger dependencies -->
             	io.swagger.jaxrs.listing.ApiListingResource,
             	io.swagger.jaxrs.listing.SwaggerSerializers
             	
				com.tutycarcare.api.rest.filter.CustomResponseCorsFilter
             	
         	</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TutyCarCare REST Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <servlet-name>Jersey2Config</servlet-name> <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class> 
		<init-param> <param-name>api.version</param-name> <param-value>1.0.0</param-value> 
		</init-param> <init-param> <param-name>swagger.api.basepath</param-name> 
		<param-value>/rest</param-value> </init-param> <init-param> <param-name>swagger.api.title</param-name> 
		<param-value>Toothcloud PMA REST Application</param-value> </init-param> 
		<load-on-startup>2</load-on-startup> </servlet> -->

	<!-- Spring security filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
